.home {
    display: flex;
    flex-direction: row;
    font-size: 48px;
    padding: 5px;
    justify-content: center;
    width: 100vw;
}

.word {
    font-size: 2rem;
    letter-spacing: 1rem;
    color: rgb(10, 0, 77);
}