.container_Top {
  display: block;
  text-align: center;
  line-height: 1.5;
  font-size: 2em;
  font-weight: bold;
  align-items: center;
  position: relative;
}

.backgroud{
  width: 100%;
  height:100%;
  left: 0px;
  position: relative;
  top: 0;
}

.clouds {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.moutains{
  position: absolute;
  top: 0;
  left: 70px;
  width: 100%;
  height: 100%;
  z-index: 3;

}
.welcome{
  align-items: center;
  padding: 50px;
  margin-top: 50px;
}

.paxallax{
  align-items: center;
  margin-left: 10px;
}

.card{
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(21, 125, 133);
  justify-items: center;
}