.container_Top {
  display: block;
  text-align: center;
  line-height: 1.5;
  font-size: 2em;
  font-weight: bold;
  align-items: center;
  position: relative;
}

.middle{
  display: block;
  text-align: center;
  line-height: 1.5;
  font-size: 2em;
  font-weight: bold;
  align-items: center;
  position: relative;

}

.backgroud {
  width: 100%;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0;
}

.clouds {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.moutains {
  position: absolute;
  top: 0;
  left: 70px;
  width: 100%;
  height: 100%;
  z-index: 3;

}


.welcome {
  position: relative;
  align-items: center;
  padding: 50px;
  margin-top: 50px;
  z-index: 100;
}

.paxallax {
  align-items: center;
  margin-left: 10px;
  z-index: 2;
}

.side{
  margin-top: -50px;
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;

}

.list {
  margin-top: 100px;
}

.title{
  margin-top: 200px;
}

.atropos{
  margin-top: 50px;
  background-color: #7490b0;
}

.summary{
    margin-top: 100px;
}

.end{
  position: relative;
}

.card {
  margin-top: 10px;
  background-color: #c1d9f7;
  position: absolute;
}

.description{
  position: absolute;
  z-index: 3;

}

.atropos p {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.thank{
  position: absolute;
  z-index: 3;
}