.home {
    display: flex;
    flex-direction: row;
    font-size: 48px;
    padding: 5px;
    justify-content: center;
    width: 100vw;
    z-index: 3;
}

.word {
    font-size: 3rem;
    letter-spacing: 1rem;
    color: rgb(10, 0, 77);
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}