.home {
    display: flex;
    flex-direction: row;
    font-size: 48px;
    padding: 5px;
    margin-left: 5px;
    justify-content: center;
    width: 100vw;
    border-bottom: 5px solid rgb(0, 2, 118);
    width: 30%;
    margin: auto;
    text-align: center;
    padding-bottom: 5px;
}

.word {
    font-size: 6rem;
    letter-spacing: 1rem;
    color: rgb(10, 0, 77);
}