.container{
    display: block;
    width: 500px;
    font-size: 1.5rem;
    border: 3px solid;
    background-color: #7090AB;
    color: #b7c9de;
    padding: 10px;
    margin: 5px;
    border: 5px;
}

.button{
    border: 2px solid;
    background-color: #c1d9f7;
    color: #213750;
}

.button{
    background-color: #7090AB;
}

